// CITIZENS FOR EUROPE
// Layout Variables

/************************
*	STRUCTURE			*
*************************/

	@mixin resetMargins() {
		margin: 0;
		padding: 0;
	}

	@mixin inlineList() {
		@include resetMargins();
		list-style-type: none;

		li {
			@include resetMargins();
			display: inline-block;
		}
	}

	@mixin pseudoElements() {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	@mixin image-2x($image, $width, $height) {
		@media (min--moz-device-pixel-ratio: 1.3),
			(-o-min-device-pixel-ratio: 2.6/2),
			(-webkit-min-device-pixel-ratio: 1.3),
			(min-device-pixel-ratio: 1.3),
			(min-resolution: 1.3dppx) {

			/* on retina, use image that's scaled by 2 */
			background-image: url($image);
			background-size: $width $height;
		}
	}

	@mixin animate($animation: sinewave_a, $duration: 1s, $repeat: infinite, $easing: linear, $alternate: false) {
		-webkit-animation: $animation $duration $repeat $easing;
		-moz-animation: $animation $duration $repeat $easing;
		-o-animation: $animation $duration $repeat $easing;
		animation: $animation $duration $repeat $easing;
		-webkit-backface-visibility: hidden;

		@if $alternate {
			-webkit-animation-direction: alternate;
			-moz-animation-direction: alternate;
			-o-animation-direction: alternate;
			animation-direction: alternate;
		}
	}
	@mixin linear-gradient($fromColor, $toColor) {
		background-color: $toColor; /* Fallback Color */
		background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
		background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
		background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
		background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
		background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
		background-image:         linear-gradient(top, $fromColor, $toColor);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
	}