#myUpScore {
  text-align: center;
}

#myRank {

  .item {
    margin-bottom: 20px;
    cursor: pointer;

    img {
      width: 20%;
      float: left;
    }
    .text {
      width: 70%;
      float: right;

      h2 {
        font-family: "futura-pt";
        font-size: 1.2em;
        font-weight: 700;
        color: #000;
      }
    }
  }
}

/*Unified Privacy Rank Progress Circle*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pie-wrapper {
  display: inline-block;
  height: 200px;
  margin: 10px;
  position: relative;
  width: 200px;
}
.pie-wrapper .pie {
  clip: rect(0, 200px, 200px, 100px);
  height: 200px;
  position: absolute;
  width: 200px;
}

.pie-wrapper .pie .half-circle {
  border: 20px solid #3498db;
  border-radius: 50%;
  clip: rect(0, 100px, 200px, 0);
  height: 200px;
  position: absolute;
  width: 200px;
}
.pie-wrapper .label {
  background: #ecf0f1;
  border-radius: 50%;
  color: #000000;
  cursor: default;
  display: block;
  font-size: 4.3em;
  height: 160px;
  left: 20px;
  line-height: 150px;
  position: absolute;
  text-align: center;
  top: 10%;
  width: 160px;
}
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: .45em;
  padding-bottom: 20px;
  vertical-align: super;
}
.pie-wrapper.style-2 .shadow {
  border: 20px solid #bdc3c7;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
.pie-wrapper.style-2 .label {
  background: none;
  color: #7f8c8d;
}

.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}
.pie-wrapper.progress-30 .pie .right-side {
  display: none
}

.pie-wrapper.progress-30 .pie .half-circle {
  border-color: #3498db;
}

.pie-wrapper.progress-10 .pie .half-circle {
    border-color: #E05430;
    color: #E05430 !important;
}


.pie-wrapper.progress-10 .pie .left-side {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
}

.pie-wrapper.progress-20 .pie .half-circle {
    border-color: #E05430;
    color: #E05430 !important;
}

.pie-wrapper.progress-20 .pie .left-side {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
}

.pie-wrapper.progress-30 .pie .half-circle {
    border-color: #EB8B2D;
    color: #EB8B2D !important;
}

.pie-wrapper.progress-30 .pie .left-side {
  -webkit-transform: rotate(108deg);
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -o-transform: rotate(108deg);
  transform: rotate(108deg);
}

.pie-wrapper.progress-40 .pie .half-circle {
    border-color: #F1C75F;
    color: #F1C75F !important;
}

.pie-wrapper.progress-40 .pie .left-side {
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(144deg);
}

.pie-wrapper.progress-50 .pie .half-circle {
    border-color: #F6E64A;
    color: #F6E64A !important;
}

.pie-wrapper.progress-50 .pie .left-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.pie-wrapper.progress-60 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-60 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-60 .pie .half-circle {
    border-color: #E3E344;
    color: #E3E344;
}
.pie-wrapper.progress-60 .pie .left-side {
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -o-transform: rotate(216deg);
  transform: rotate(216deg);
}

.pie-wrapper.progress-70 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-70 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-70 .pie .half-circle {
    border-color: #B9D248;
    color: #B9D248;
}
.pie-wrapper.progress-70 .pie .left-side {
  -webkit-transform: rotate(252deg);
  -moz-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  -o-transform: rotate(252deg);
  transform: rotate(252deg);
}

.pie-wrapper.progress-80 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-80 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-80 .pie .half-circle {
    border-color: #94C449;
    color: #94C449;
}
.pie-wrapper.progress-80 .pie .left-side {
  -webkit-transform: rotate(278deg);
  -moz-transform: rotate(278deg);
  -ms-transform: rotate(278deg);
  -o-transform: rotate(278deg);
  transform: rotate(278deg);
}

.pie-wrapper.progress-90 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-90 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-90 .pie .half-circle {
    border-color: #6CB644;
    color: #6CB644;
}
.pie-wrapper.progress-90 .pie .left-side {
  -webkit-transform: rotate(324deg);
  -moz-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  -o-transform: rotate(324deg);
  transform: rotate(324deg);
}

.pie-wrapper.progress-100 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-100 .pie .right-side {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pie-wrapper.progress-100 .pie .half-circle {
    border-color: #3AAB47;
    color: #3AAB47;
}
.pie-wrapper.progress-100 .pie .left-side {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.pie-wrapper.progress-ukn .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-ukn .pie .right-side {
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(60deg);
}
.pie-wrapper.progress-ukn .pie .half-circle {
    border-color: #19BCBA;
    color: #19BCBA;
}
.pie-wrapper.progress-ukn .pie .left-side {
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(120deg);
}


